.period-popup-container {
    position: fixed;
    display: flex;
    z-index: 9999;
    flex-direction: column;
    width: auto; height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: left;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 25px;
    gap: 5px;
}

.rent-time {
  display: flex;
  gap: 10px;
}
.rent-start-time, .rent-end-time { flex:1; }

.selected-time select{
  padding: 10px 5px;
  width: 100%;
  border: none;
  background-color: #F3F3F3;
  color: #000000;
  font-size: clamp(8px, 0.8vw ,17px);
  cursor: pointer;
}

.ok-btn {
  width: auto;
  margin-left: 0;
  margin-top: 10px;
  font-size: clamp(13px, 1.6vw , 30px);
  padding: 9px 10px;
  background-color: #DEFF54;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {

}
@media (max-width: 768px) { /* 태블릿 */
  
}
@media (max-width: 480px) { /* 모바일 */
  .period-popup-container {
    width: 90%;
  }
}