/* 렌트위치 팝업창 */
.pos-popup-container {
    display: flex;
    position: fixed;
    width: 40%; height: 50%;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    z-index: 9999;
}
.region-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(15px, 13vw, 100px);
    background-color: #ffffff;
    padding: 12px 20px;
    overflow-y: scroll;
    flex: 1;
}
.region-container > div {
    border-radius: 5px;
}

.city-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(15px, 13vw, 100px);
    background-color: #ffffff;
    padding: 10px;
    overflow-y: scroll;
    padding: 12px 20px;
    flex: 1;
}

.pos-popup-container button {
    border: none;
    width: 15%;
    border-radius: 7px;
    margin-left: 3%;
    padding: 2px 7px;
    font-size: clamp(10px, 1.5vw, 25px);
    background-color: #DEFF54;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

/* 스크롤바 */
.pos-popup-container ::-webkit-scrollbar { /* 스크롤바 전체 영역 */
    width: 8px;
}

.pos-popup-container ::-webkit-scrollbar-track { /* 스크롤바 트랙 (배경) */
    background: #eaeaea;
    border-radius: 10px;
}

.pos-popup-container ::-webkit-scrollbar-thumb { /* 스크롤바 막대기 (thumb) */
    background-color: #c3c3c3;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    height: 100px;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
    .pos-popup-container {
        width: 60%;
    }
}
@media (max-width: 768px) { /* 태블릿 */
    .pos-popup-container {
        width: 80%;
    }
}
@media (max-width: 480px) { /* 모바일 */
    .pos-popup-container {
        width: 90%;
    }
}