.popup-container {
    position: absolute;
    display: flex;
    width: 500px; height: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
    top: 110%;
    left: 45%;
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 6px 4.2px rgba(0, 0, 0, 0.06);
    padding: 10px;
}