
/* Service Shortcut */
.service-shortcut {
    display: flex;
    color : #2F2F2F;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.service-shortcut-title {
    width: 18%;
    font-size: clamp(13px, 2vw, 40px);
    font-weight: normal;
}

.shortcut-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.shortcut-box {
    display: flex;
    flex-direction: column;
    font-size: clamp(11px, 1.6vw, 38px);
    text-align: center;
    gap: clamp(10px, 0.8vw, 39px);
    cursor: pointer;
}

/* 미디어 쿼리 */
@media (max-width: 1200px) {
 
}
@media (max-width: 768px) { /* 태블릿 */
 
}
@media (max-width: 480px) { /* 모바일 */

}