@use '../common/commonVariables.scss' as cv;

.PaymentSuccessCont{
    width: 100%;

    h2{
        text-align: center;
    }

    .subTitle{
        color: #666;
        text-align: center;
        margin-bottom: cv.vw-font(30px, 30px);;
    }
    .reservationCont{
        background-color: #fff;
        padding: 30px 40px;
        border: 1px solid #f3f3f3;
        border-radius: 5px;
    }

    .reservationTable{
        margin-bottom: cv.vw-font(30px, 30px);
    }
}
.icon{
    margin: 0 auto;
}
.icon svg{
    width: cv.vw-font(30px, 30px);
    margin: 10px auto;
    display: block;
}
.btn{
    width: 100%;
    text-align: right;

    button{
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: cv.vw-font(10px, 10px);
        border-radius: 5px;
        background-color: #fff;
    }
    .returnHome{
        border: 1px solid #D9D9D9;
    }
    .returnPayment{
        background-color: #C4FF53;
    }
}