// 폰트 사이즈 크기 조정 - 반응형
@function vw-font($min-size, $max-size, $base-width: 1920px) {
    @return clamp($min-size, calc($max-size / $base-width * 100vw), $max-size);
}

$primary-color: #000000;
$content-font-size: vw-font(9.5px, 18px);
$shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
$content-margin: vw-font(10px, 33px);

@mixin white-round-box {
    padding: vw-font(15px, 52px);
    border-radius: 10px;
    box-shadow: $shadow;
    background-color: #FFFFFF;
}
@mixin grey-round-box {
    padding: vw-font(6px, 15px) vw-font(10px, 19px);
    border-radius: 10px;
    background-color: #F3F3F3;
}
@mixin checkBtn {
    width: 100%; height: vw-font(10px, 56px);
    border-radius: 50px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.carDetail {
    color: $primary-color;
    font-size: $content-font-size;
    margin-top: vw-font(20px, 30px);
    margin-bottom: vw-font(20px, 30px);
    text-align: left;

    .mainTitle h2 {
        font-size: vw-font(12px, 32px);
        margin-bottom: vw-font(15px, 25px);
        margin-left: vw-font(5px, 10px);
    }
}

// 컨테이너 간의 공통간격
.container {
    margin-bottom: vw-font(20px, 55px);
}

.carDetailContainer {
    display: flex;
    gap: vw-font(13px, 27px);
    .left {
        @include white-round-box;
        width: 56%; height: auto;
    }
    .right {
        @include white-round-box;
        width: 44%;
        height: min-content; // 콘텐츠의 양만큼 높이 자동으로 조절
    }
}

// 대여시간
.rentTimeContainer {
    .rentTime {
        display: flex;
        align-items: center;
        justify-content: center;
        @include grey-round-box;
        background-color: #F3F3F3;
        gap: vw-font(5px, 62px);
    }
}
.startRent, .endRent {
    display: flex;
    gap: vw-font(5px, 10px);
    cursor: pointer;
}

// 제원정보
.carName {
    display: flex;
    margin-bottom: vw-font(5px, 12px);
    margin-left: vw-font(3px, 5px);
    gap: vw-font(5px, 10px);
    h5 { font-size: vw-font(11px, 22px) }
    div { 
        padding: vw-font(1px, 2px) vw-font(6px, 8px);
        border-radius: 50px;
        background: linear-gradient(to right, #AFFF4F, #E6FA33, #FFF826);
    }
}
.carInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}
.carInfoItem {
    display: flex;
    width: calc(33.33% - 10px);
    background-color: #F3F3F3;
    align-items: center;
    justify-content: center;
    @include grey-round-box;

    .carInfoTitle {
        color: #8F9191;
        margin-right: vw-font(5px, 13px);
    }
}

// 차량옵션
.carOptionBox {
    display: flex;
    flex-wrap: wrap;
    gap: vw-font(20px, 50px);

    .carOption {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;
    }
}

// 운전자 대여조건
.rentConditionContainer {

    .rentCondition {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: vw-font(3px, 10px);
    }
}

// 계약정보
.contractInfoContainer {
    .contractInfoBox {
        @include grey-round-box();
        width: auto; height: auto;
    }
}
.contractTitle {
    margin-bottom: 11px;
}
.contractContent {
    color: #F21717;
}

// 우측 예약정보
.reservationInfoContainer {
    .carImage {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
}
.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .counselButton {
        @include checkBtn();
        border: 1px solid #D9D9D9;
    }
    .reservationButton {
        @include checkBtn();
        background-color: #AFFF4F;
    }
}

.priceInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* 미디어 쿼리 */
@media (max-width: 1200px) {
  
}
@media (max-width: 768px) { /* 태블릿 */
    .carDetailContainer {
        flex-direction: column;
    }
    .left {
        width: 100% !important; height: auto;
    }
    .right {
        width: 100% !important; height: auto;
    }

    .reservationInfoContainer {
        display: flex;
        margin: 0;
        gap: 20px;
        .carImage, .subTitle, .line, .priceInfoBox, .buttonsContainer { margin: 0; }

        .carImage {
            width: 40%;
            align-items: center;
        }
        .carContent {
            width: 60%;
        }
        .line { 
            margin-top: 5px;
        }
        .buttonsContainer > button{
            padding: 5px 0px;
        }
    }

}
@media (max-width: 480px) { /* 모바일 */

}