
.header {
    width: 100%;
}
.menu {
    width: 100%; height: 85px;
    max-width: 1920px; min-width: 380px;
    background: #FFFFFF;
    justify-items: center;
    box-shadow: 0px 4px 3.9px rgba(0, 0, 0, 0.03);
  }
  .menu-container, .left-menu, .center-menu, .right-menu, .register { 
    height: 100%; 
    display: flex;
    text-align: center;
    vertical-align:middle;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    font-size: clamp(10px, 1vw, 20px);
  }
  .menu-container {
    width: 72%;
  }
  .left-menu {
    width: 25%;
    justify-content: left;
  }
  .center-menu {
    color: #2F2F2F;
    width: 50%;
    justify-content: space-between;
  }
  .right-menu {
    color: #000000;
    width: 25%;
    justify-content: right;
    font-size: 12px;
  }
  .register {
    width: 91px; height: 33px;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(to left, #AFFF4F, #DFFF58);
  }

  /* 미디어 쿼리 */
@media (max-width: 1200px) {
    /* menu */
    .menu {
      height: 65px; width: 100%;
    }
    .menu-container, .left-menu, .center-menu, .right-menu, .register { 
      gap: 2px;
    }
    .left-menu {
      width: 20%;
      margin-right: 10px;
    }
    .left-menu img {
      width: 90px !important; height: auto !important;
    }
    .center-menu {
      width: 55%;
      font-size: clamp(11px, 1vw, 20px);
    }
    .right-menu {
      font-size: clamp(9px, 0.8vw, 21px);
    }
    .register {
      width: 63px; height: 25px;
    }
    .customer-service h4, .company-info h4, .sns-title {
      font-size: clamp(10px, 1vw, 15px);
    }
    .footer-content {
      font-size: clamp(8px, 0.9vw, 14px) !important;
    }

  }
  @media (max-width: 768px) { /* 태블릿 */
    /* menu */
    .menu {
      height: 70px;
    }
    .menu-container {
      position: relative;
    }
    .menu-container, .left-menu, .center-menu, .right-menu, .register { 
      gap: 2px;
    }
    .left-menu, .center-menu {
      margin-top: 15px;
    }
    .left-menu {
      width: 20%;
    }
    .left-menu img {
      width: 70px !important; height: auto !important;
    }
    .center-menu {
      width: 75%;
    }
    .right-menu {
      position: absolute;
      height: 30px;
      right: 0%;
      top: 2%;
    }
    .register {
      width: 40px; height: 16px;
    }
  }
  @media (max-width: 480px) { /* 모바일 */
    /* menu */
    .menu {
      height: 68px;
    }
    .menu-container {
      position: relative;
      width: 87%;
    }
    .menu-container, .left-menu, .center-menu, .right-menu, .register { 
      gap: 1px;
    }
    .left-menu, .center-menu {
      margin-top: 12px;
    }
    .left-menu {
      width: 20%;
    }
    .left-menu img {
      width: 70px !important; height: auto !important;
    }
    .center-menu {
      width: 70%;
    }
    .right-menu {
      position: absolute;
      height: 35px;
      right: 6.8%;
      top: -3%;
    }
    .register {
      width: 40px; height: 10px;
    }
  }