.Main {
    width: 72%; height: auto;
}

/* 공통 부분 */
.service-shortcut, .plan, .domestic-popular-car, .event { margin-bottom: 6.5vw; width: 100%; }

/* 미디어 쿼리 */
@media (max-width: 1200px) {
 
}
@media (max-width: 768px) { /* 태블릿 */
 
}
@media (max-width: 480px) { /* 모바일 */
  .Main {
    width: 87%;
  }
}