.ProductList{
    margin : 0 auto;
    display: flex;             /* Flexbox 활성화 */
    justify-content: center;   /* 수평 가운데 정렬 */
    /*align-items: center;*/       /* 수직 가운데 정렬 */
    height: 100vh;
    /* width: 1280px; */
}

/* .Category{
    width: 350px;
    margin-right: 55px;
}

.ProductList{
    width: 875px;
} */