* { margin: 0; padding: 0; }
div { box-sizing : border-box; font-family: 'Noto Sans KR', sans-serif; }
body { margin : 0; }
html { line-height : 1.15; /* 기본 행간 높이 */ }
a, li { text-decoration: none; /* 링크 및줄 제거 */ }
img { display: block; }
i { display: block; }

.App {
  width: 100vw; height: auto;
  background-color: #F8F9F7;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.menu {
  height: 85px; width: 100%;
  background: #FFFFFF;
  justify-items: center;
  box-shadow: 0px 4px 3.9px rgba(0, 0, 0, 0.03);
}
.menu-container, .left-menu, .center-menu, .right-menu, .register { 
  height: 100%; 
  display: flex;
  text-align: center;
  vertical-align:middle;
  align-items: center;
  gap: 20px;
}
.menu-container {
  width: 65%;
}
.left-menu {
  width: 25%;
  justify-content: left;
}
.center-menu {
  color: #2F2F2F;
  width: 50%;
  justify-content: space-between;
}
.right-menu {
  color: #000000;
  width: 25%;
  justify-content: right;
  font-size: 12px;
}
.register {
  width: 91px; height: 33px;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(to left, #AFFF4F, #DFFF58);
}

/* footer */
.footer {
  display: flex;
  background-color: #252736;
  color: #FFFFFF;
  width: 100%; height: auto;
  padding: 15px 30px;
  justify-content: center;
  text-align: left;
}
.footer a {
  color: white;
}

.footer-link-container {
  display: flex;
  gap: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content h4 {
  margin-bottom: 30px;
}

.customer-service, .company-info, .sns-link-container { display: flex; flex-direction: column; gap: 2px; }
