/* 구글 아이콘 사용 */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

/* ProductListPage css */
.container{
    margin : 0 auto;
    display: flex;             /* Flexbox 활성화 */
    justify-content: center;   /* 수평 가운데 정렬 */
    /*align-items: center;*/       /* 수직 가운데 정렬 */
    height: 100vh;
    /* width: 1280px; */
}

.left{
    width: 350px;
    margin-right: 55px;
}

.right{
    width: 875px;
}

.list-box{
    width: 285px;
    margin-right: 10px;
}

